In [1]:
import geopandas as gpd
gpd.__version__

'0.6.3'

In [2]:
countries = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
cities = gpd.read_file(gpd.datasets.get_path('naturalearth_cities'))

countries.tail(3)

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,13026129,Africa,S. Sudan,SSD,20880.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [3]:
cities.tail()

          name                     geometry
197      Cairo    POINT (31.24802 30.05191)
198      Tokyo   POINT (139.74946 35.68696)
199      Paris     POINT (2.33139 48.86864)
200   Santiago  POINT (-70.66899 -33.44807)
201  Singapore    POINT (103.85387 1.29498)

In [4]:
ax = countries.plot(column="continent", legend=True, categorical=True)
ax.set_title("세계 지도")
ax.set_axis_off()
plt.show()

ImportError: DLL load failed: 지정된 프로시저를 찾을 수 없습니다.

In [ ]:
# 1인당 GDP 연산
countries['gdp_per_cap'] = countries['gdp_md_est'] / countries['pop_est'] * 100

ax = countries.plot(column='gdp_per_cap', legend=True, scheme='quantiles', cmap="Blues", k=5)
ax.set_axis_off()
ax.set_title("세계 국가의 1인당 GDP")
plt.show()

#### 지오코딩

구글 API 이용, 위도경도 알려줌