Oauth

- Oauth

    - 비밀번호 없이 사이트의 정보를 제 3자에게 제공해주는 인증하는 표준 프로토콜
    
- History
    - OpenID 아이디, 패스워드 없이 인증하는 방법 (피싱 공격에 취약)
    - 2007년 10월 트위터에 OpenID 작업을 위해 Oauth 1.0 표준 초안 작성
    - 2008년 11월 IEFT 에서 Oauth 워킹 그룹 생성
    - 2012년 10월 Oauth 2.0 표준 초안 작성

In [ ]:
### Naver Rest API
- 통합 검색어 트렌드
- 파파고 번역 ㅁi
https://feee
4444 통합 검색어 트렌드
- 1. Request Token 얻기 = > app_key 획득

- 2. app_key 이용해서 데이터 가져오기

In [5]:
client_id='UCtQjYM49brBOvzfVxPZ'
client_secret='##########'

In [6]:
import json

In [7]:
url = 'https://openapi.naver.com/v1/datalab/search'

In [11]:
params = {
    'startDate':'2018-01-01',
    'endDate':'2020-06-26',
    'timeUnit':'month',
    'keywordGroups':[
        {'groupName':'트위터','keywords':['트위터','트윗']},
        {'groupName':'페이스북','keywords':['페이스북','페북']},
        {'groupName':'인스타그램','keywords':['인스타그램','인스타']},
    ]
}

In [12]:
headers = {
    "X-Naver-Client-Id": client_id,
    "X-Naver-Client-Secret": client_secret,
    "Content-Type": "application/json",
    
}

In [15]:
# API 요청

response = requests.post(url,data=json.dumps(params),headers=headers)
response

In [13]:
json.dumps(params)

'{"startDate": "2018-01-01", "endDate": "2020-06-26", "timeUnit": "month", "keywordGroups": [{"groupName": "\\ud2b8\\uc704\\ud130", "keywords": ["\\ud2b8\\uc704\\ud130", "\\ud2b8\\uc717"]}, {"groupName": "\\ud398\\uc774\\uc2a4\\ubd81", "keywords": ["\\ud398\\uc774\\uc2a4\\ubd81", "\\ud398\\ubd81"]}, {"groupName": "\\uc778\\uc2a4\\ud0c0\\uadf8\\ub7a8", "keywords": ["\\uc778\\uc2a4\\ud0c0\\uadf8\\ub7a8", "\\uc778\\uc2a4\\ud0c0"]}]}'

In [19]:
datas = response.json()['results']

In [21]:
dfs = []2
import pandas as pd
for data in datas:
    df= pd.DataFrame(data['data'])
    df['title'] = data['title'] # 트위터 , 페이스북 , 인스타그램
    dfs.append(df)

In [25]:
result_df =pd.concat(dfs,ignore_index=True)

In [26]:
result_df

        period     ratio  title
0   2018-01-01  14.59502    트위터
1   2018-02-01  13.02380    트위터
2   2018-03-01  12.97953    트위터
3   2018-04-01  12.82991    트위터
4   2018-05-01  13.05391    트위터
..         ...       ...    ...
85  2020-02-01  21.53446  인스타그램
86  2020-03-01  25.01454  인스타그램
87  2020-04-01  24.12708  인스타그램
88  2020-05-01  25.68412  인스타그램
89  2020-06-01  21.36119  인스타그램

[90 rows x 3 columns]

In [27]:
result_df.pivot('period','title','ratio')

title          인스타그램       트위터       페이스북
period
2018-01-01  23.41982  14.59502   97.80481
2018-02-01  22.53544  13.02380   89.05814
2018-03-01  25.39880  12.97953   98.84292
2018-04-01  26.55983  12.82991  100.00000
2018-05-01  28.60035  13.05391   92.23588
2018-06-01  28.40753  13.34512   91.70143
2018-07-01  27.84405  13.02773   87.91600
2018-08-01  29.84383  13.45399   83.56488
2018-09-01  25.05096  12.83755   82.66018
2018-10-01  27.20480  13.05677   81.30381
2018-11-01  21.97864  12.77338   76.80167
2018-12-01  20.87390  12.86931   75.43269
2019-01-01  22.51379  13.31172   70.21709
2019-02-01  19.33788  11.74776   62.57096
2019-03-01  21.67678  11.82313   70.02431
2019-04-01  21.16257  12.32991   71.67271
2019-05-01  20.94850  12.43771   67.79872
2019-06-01  21.76954  13.29913   69.23259
2019-07-01  22.58600  14.00593   64.22088
2019-08-01  21.43535  14.20800   61.74662
2019-09-01  19.83802  14.00856   62.30318
2019-10-01  22.24957  14.88466   62.46025
2019-11-01  21.55812  14.35200   59.88514
2019-12-01  21.52333  14.36689   57.80639
2020-01-01  22.03810  16.05722   55.94828
2020-02-01  21.53446  15.71465   56.90092
2020-03-01  25.01454  18.56690   63.03497
2020-04-01  24.12708  18.29928   57.31923
2020-05-01  25.68412  21.05230   56.65968
2020-06-01  21.36119  16.20296   45.45014

#### 파파고 API

- 내 어플리케이션에 파파고 추가

In [28]:
url='https://openapi.naver.com/v1/papago/n2mt'

In [39]:
params ={
    'source':'ko',
    'target':'en',
    'text':'파이썬 웹 크롤링 및 자동화, 저는 바보멍청이입니다 헤헤헤헤헤 엄청 졸리다',
    
}

In [40]:
response = requests.post(url,json.dumps(params),headers=headers)
response

In [41]:
response.json()['message']['result']['translatedText']

"Python Web crawling and automation, I'm an idiot. Hehehehehehe I'm so sleepy"